<div>
  <div class="col message-wrap">
    <div class="message-page flex justify-content-center">
      <img class="big-logo" src="assets/layout/images/DR-logo-Transparent.jpg" width="400" height="400"/>
      <div class="col content-div">
        <div class="content">HELP, HEALING, AND HOPE</div>
      </div>
    </div>
    <div class="col-12">
      <div class="flex justify-content-center">
      <p-button [link]="true" label="Request Form" (onClick)="openForm()">
      </p-button>
      </div>
    </div>
  </div>
</div>
